DB_PORT=5432
BACKEND_PORT=3000
FRONTEND_PORT=5173

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=b2c

DATABASE_URL=postgresql://postgres:your_postgres_password_here@db:5432/b2c

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800

GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://127.0.0.1:3000/auth/google/callback

RESEND_API_KEY=your_resend_api_key_here
MAIL_FROM=MoveOn online shop <onboarding@moveon-shop.fi>
FRONTEND_URL=http://127.0.0.1:5173

TOTP_ENC_KEY_BASE64=your_totp_encryption_key_here
TOTP_ISSUER=MyB2C
JWT_2FA_TEMP_SECRET=your_2fa_temp_secret_here

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key_here

DATA_ENCRYPTION_KEY=your_data_encryption_key_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

ADMIN_SECRET_KEY=your_admin_secret_key_here

HTTPS_ENABLED=false